# Please read carefully before editing, and especially removing lines:
# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

# Biggest dirs not needed in npm package
reference/
test/
examples/

# Patterns from .gitignore
.idea/
.vscode/
coverage/
npm-debug.log
